.formContainer {
  display: flex;
  flex-direction: column;
}

.formControl {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btnAdd {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btnAdd:hover {
  background-color: #218838;
}
